body{
background-image: linear-gradient(#5D9C59, #DDF7E3, #DF2E38);
font-family: "Brush Script MT", cursive;
text-align: justify;
font-size: 35px;
line-height: 300%;
}

#home {
font-size: 25px;
line-height: 130%;
}

a {
  color: blue;
}

#list {
  padding: 5px;
  margin-left: 35px;
  font-size: 20px;
  line-height: 500%;
}