<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>
</head>
<body>
    <h1>Kontakt</h1>
    <p>Fragen Sie mich nach dem Iran</p>
    <form action="/login" method="post">
        <lable>Name</lable><br>
        <input type="text" name="cl_name"><br>
        <lable>E-mail</lable><br>
        <input type="email" name="cl_email"><br>
        <lable>Frage</lable><br>
        <input type="text" name="cl_ques"><br>
        <input type="submit" value="Send">
    </form>
</body>
</html>