<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body>
<h1>Hey</h1>
<p id="home">Die Geschichte Irans umfasst die Entwicklungen auf dem Gebiet der Islamischen Republik Iran und
    historischer, oft
    unter dem Namen Persien bekannter iranischer Reiche von der Urgeschichte bis zur Gegenwart. Der Name Iran leitet
    sich aus dem altpersischen Būm-ī aryānam („Land der Arier“) ab (siehe iranische Sprachen, Eran (Begriff)).
    Das ostiranische Äquivalent ist Aryana. Der Begriff „Iran“ bezieht sich im eigentlichen Sinne auf eine viel
    größere Region, die die Gebiete der modernen Staaten Afghanistan, Tadschikistan, Irak, Aserbaidschan,
    Usbekistan, Turkmenistan und Teile Pakistans und der Türkei mit einschließt (siehe Iranisches Hochland).
    Somit beinhaltet dieser Artikel über die Geschichte Irans zu einem großen Teil auch die Geschichte jener Staaten
    und Regionen sowie die Geschichte des ehemaligen Großpersischen Reiches. Die Geschichte des modernen
    Nationalstaates Iran beginnt mit der Gründung des Safawidenreichs um 1501. Die persische Eigenbezeichnung
    Iran wurde am 21. März 1935 unter Reza Schah Pahlavi (Regent 1925–1941) für international verbindlich
    erklärt.</p>
<a href="{{ url_for('get_blog') }}">Go to Blog</a>
</body>
</html>