{% import "bootstrap/wtf.html" as wtf %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Einloggen</title>
    <link href="static/css/style.css" rel="stylesheet">
</head>
<body>
<ul>
    <li class="navbar"><a href="{{ url_for('home') }}">Heim</a></li>
    <li class="navbar"><a href="{{ url_for('register') }}">Registrieren</a></li>
    <li class="navbar"><a href="{{ url_for('logout') }}">Ausloggen</a></li>
    <li class="navbar"><a href="{{ url_for('get_blog') }}">zum Blog gehen</a></li>
    <li class="navbar"><a href="{{ url_for('contact') }}">Kontakt</a></li>
</ul>
{% for mesg in get_flashed_messages() %}
<h4 class="flash_massage">{{ mesg }}</h4>
{% endfor %}
<h1>Einloggen</h1>
{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
</body>
</html>