{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
</head>
<header class="masthead" style="background-image: url('{{post.img_url}}');height: 500px;background-position: center;background-repeat: no-repeat;background-size: contain"></header>
  <div class="post-heading">
      <h1 style="margin-left: 10%">{{post.title}}</h1>
      <span class="meta" style="margin: 0% 10%">Posted by
          {{post.author.name}}
          on {{post.date}}</span>
  </div>
  <article>
    <div class="container">
      <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto" style="margin: 20px 0px 0px 0px">
              {{ post.body|safe }}
              <p>Quelle: <a href='https://de.wikipedia.org/wiki/Iran'>Wikipedia</a></p>
              <hr>
              {% if current_user.id == 1: %}
              <div class="clearfix">
                  <a class="btn btn-success float-right" href="{{ url_for('edit_post', post_id=post['id']) }}">Beitrag
                      bearbeiten</a>
                  <a class="btn btn-danger float-right" href="{{ url_for('delete_post', post_id=post['id']) }}">Beitrag
                      entfernen</a>
              </div>
              {% endif %}
          </div>
      </div>
    </div>
  </article>
<hr>
{{ ckeditor.load() }}
{{ ckeditor.config(name='comment_text') }}
{{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
<div class="col-lg-8 col-md-10 mx-auto comment">
    {% for comment in post.comments: %}
    <ul class="commentList">
        <li>
            <div class="commentText">
                {{comment.text|safe}}
                <span class="date sub-text">{{comment.comment_author.name}}</span>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}
</html>